<%- include('../partials/header') %>
  <% for (let i = 0; i < skill.level; i++) { %>
    <i class="bi bi-circle-fill green"></i>
  <% } %>
  <% for (let i = 0; i < 10 - skill.level; i++) { %>
    <i class="bi bi-circle grey"></i>
  <% } %>
  <h3><%= skill.skill %></h3>
  <p> <%= skill.description %> </p>
  <div class="simple-flex">
    <form class="button-form" action="/skills/<%= skill.id %>?_method=DELETE" method="POST">
      <button>delete</button>
    </form>
    <form class="button-form" action="/skills/<%= skill.id %>/edit" method="GET">
      <button>edit</button>
    </form>
  </div>
<%- include('../partials/footer') %>